In [1]:
import pandas as pd

In [3]:
C = pd.read_csv('countries.csv')

In [4]:
C.head()

       country  year  population
0  Afghanistan  1952     8425333
1  Afghanistan  1957     9240934
2  Afghanistan  1962    10267083
3  Afghanistan  1967    11537966
4  Afghanistan  1972    13079460

In [7]:
C.shape

(1704, 3)

In [8]:
B = pd.read_csv('sample_data.csv')

In [10]:
B

   column_a  column_b  column_c
0         1         1        10
1         2         4         8
2         3         9         6
3         4        16         4
4         5        25         2

In [12]:
B.to_csv('A.txt', index=False)